$theme-colors: (
  "primary": #333333
);

@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: Chivo, sans-serif;
}

.thumper {
  width: 150px;
}

.hidden {
  display: none;
}

.Logo-title {
  display: inline;
}
h4 {
  text-align: left;
}
@media screen and (max-width: 768px) {
  h4 {
    text-align: center;
  }
  .Navbar {
    text-align: center;
    display: block;
  }
  .Logo-title {
    display: block;
    min-width: 250px;
  }
  .Left-nav.hidden {
    display: none;
  }
  .Left-nav.hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .Left-nav{
    width: 200px;
  }
}

.ContentContainer {
  max-width: 1220px;
  margin: auto;
}
.Navbar {
  font-family: Chivo, sans-serif;
}
.Navbar img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-right: 20px;
}
.Navbar a {
  text-decoration: none;
  color: #333;
}
.Navbar .Logo-title {
  font-size: 1.3em;
}

.Left-nav {
  color: #333;
  font-family: Chivo, sans-serif;
  font-size: 1.1em;
  border-bottom: 2px solid #eee;
  margin: 10px 20px;
}

.Left-nav a{
  color: #333;
}
.Left-nav a:hover{
  color: #aaa;
}

.Left-nav .Menu-item {
  padding: 12px 0px;
  border-top: 2px solid #eee;
}


.Hamburger {
  display: none;
}
.Sm-only {
  display: none;
}
@media screen and (max-width: 768px) {
  .Hamburger {
    display: inline;
    border: none;
  }
  .Lg-only {
    display: none;
  }
  .Sm-only {
    display: block;
  }
}

.designer {
  position: relative;
  margin-left: 10px;
  .body {
    position: absolute;
    left: 0;
    right: 0;
  }
  .eye {
    position: absolute;
  }
  .mouth {
    position: absolute;
  }
}

.Admin {
  img.table-img {
    height: 100px;
  }
}

.ProductPreview {
  img.product_preview {
    width: 100%
  }
}
.ProductPage {
  img.product_page_main_img {
    width: 100%
  }
}
